<!-- Title for header bar (refer to www/index.html) -->
<ion-view title="CHECK-IN PEDIDOS">
  <!-- left button -->
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <!-- right button -->
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-plus-round"></button>
  </ion-nav-buttons>
  
  <!-- ======================
  MAIN SECTION CONTENT - timeline
  ====================== -->
  <ion-content class="has-header gem-ion-content">
      
  </ion-content>
</ion-view>