<!-- Title for the ion view -->
<ion-view title="Delivery Empresas">
  <!-- ======================
  LEFT SIDE BUTTON
  ====================== -->
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <!-- ======================
  END LEFT SIDE BUTTON
  ====================== -->

  <!-- ======================
  RIGHT SIDE BUTTON
  ====================== -->
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-search"></button>
  </ion-nav-buttons>
  <!-- ======================
  END RIGHT SIDE BUTTON
  ====================== -->

  <!-- ======================
  MAIN CONTENT SECTION
  ====================== -->
  <ion-content class="has-header gem-ion-content padding">

    <!-- Search Box - standard ionic markup -->
    <div class="item item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Pesquisa">
      </label>
    </div>
    <!-- End Search Box -->

    <!-- standard small title heading -->
    <div class="uppercase label-title">3 empresas</div>
    <!-- end standard small title heading -->

    <!-- ======================
    GEMIONIC FRIEND LIST MODULE
    ====================== -->
    <div class="gem-friend-grid clearfix"> 
      <!-- Friend List Item  -->
      <div class="friend-item" ng-repeat="edicoes in itens">  
        <a href="#/app/profiletwo/{{edicoes.id}}">
            <!-- Round Image here. Fluid width and Colored ring stating status -->
            <img src="{{edicoes.logo}}" alt="" class="gem-friend-list-profile-pic"> 
            <!-- Friend name -->
             <p class="friend-name">{{edicoes.nome}}</p>
        </a>
      </div>
      <!-- End Friend List Item  --> 
    </div>

  </ion-content>
  <!-- ======================
  END MAIN CONTENT SECTION
  ====================== -->
</ion-view>
