 

    <!-- Title for header bar (refer to www/index.html) -->
<ion-view title="Pitt Bull Lanches">
  <!-- ======================
  LEFT SIDE BUTTON
  ====================== -->
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <!-- ======================
  RIGHT SIDE BUTTON
  ====================== -->
  <ion-nav-buttons side="right">
    
  </ion-nav-buttons>
  
  <!-- ======================
  MAIN CONTENT SECTION
  ====================== -->
  <ion-content class="has-header gem-ion-content">
    <!-- ======================
    GEMIONIC PROFILE SECTION
    ====================== -->
    <div class="gem-profile-media">
      <div class="gem-profile-details profile2">
        <!-- Profile Name -->
        <h3 class="gem-white">{{data.nome}}</h3>
        <!-- Profile Description text -->
        <p>{{data.end}}</p>
        <!-- text stats -->
        <div class="gem-center">
          <i class="icon ion-android-call"></i> {{data.fone}}
        </div>
      </div>
      <!-- Background Image -->
      <img src="img/gemionic/post-img.jpg" alt="" class="fluid-image profile-background-image" style="vertical-align:middle;">

          <div class="row">
        <div class="col"><a class="button button-icon icon ion-ios-home"></a> <br>Enterga (30 min) </div>
        <div class="col"><a class="button button-icon icon ion-cash"></a> <br>Dinheiro</div>
        <div class="col"><a class="button button-icon icon ion-calculator"></a> <br>Máq. Cartão</div> 
      </div>
       
    </div>
    <!-- ======================
    END GEMIONIC PROFILE SECTION
    ====================== -->

    <!-- Basic Tabs - not hooked qith angular -->
    <div class="tabs gem-position-static profile-tabs">
      <a class="tab-item active">
        <i class="ion-pizza"></i> Lanches
      </a>
      <a class="tab-item">
        <i class="ion-beer"></i> Bebidas
      </a>
      <a class="tab-item">
        <i class="ion-android-happy"></i> Outros
      </a>
    </div>

    <div class="profile-feed">
      <div class="row">
        <div class="col">

            <div class="profile-post" ng-repeat="produto in produtos">
              <a href="#/app/produtos/{{produto.id}}"> 
                  <img src="{{produto.logo}}" alt="">  
              </a>
                  <h4 class="bold">{{produto.nome}}</h4>
                  <p ng-bind-html="produto.desc"></p> 
                  <span class="profile-post-stat"><i class="icon ion-ios7-clock"></i> R$ {{produto.valor}}</span>
               
            </div>
              
          </div>
     
      </div>
    </div>


  </ion-content>
</ion-view>